.incrementGraph {
    background-image: url('/images/increment-graph.png');
    background-size: cover;
    background-position: bottom;
}

.decrementGraph {
    background-image: url('/images/decrement-graph.png');
    background-size: cover;
    background-position: bottom;
}